/* 
========================================================
   
                  Color
                  - font color
                  - background color

========================================================
 */

/* 
========================================================
              Font color (Primary) 
========================================================
 */

.color__primary-05 {
  color: var(--primary-05) !important;
}
.color__primary-10 {
  color: var(--primary-10) !important;
}
.color__primary-20 {
  color: var(--primary-20) !important;
}
.color__primary-30 {
  color: var(--primary-30) !important;
}
.color__primary-40 {
  color: var(--primary-40) !important;
}
.color__primary-50 {
  color: var(--primary-50) !important;
}
.color__primary-60 {
  color: var(--primary-60) !important;
}
.color__primary-70 {
  color: var(--primary-70) !important;
}
/* 
========================================================
              Font color (Secondary) 
========================================================
 */
.color__secondary-05 {
  color: var(--secondary-05) !important;
}
.color__secondary-10 {
  color: var(--secondary-10) !important;
}
.color__secondary-20 {
  color: var(--secondary-20) !important;
}
.color__secondary-30 {
  color: var(--secondary-30) !important;
}
.color__secondary-40 {
  color: var(--secondary-40) !important;
}
.color__secondary-50 {
  color: var(--secondary-50) !important;
}
.color__secondary-60 {
  color: var(--secondary-60) !important;
}
.color__secondary-70 {
  color: var(--secondary-70) !important;
}
/* 
========================================================
              Font color (Grayscale) 
========================================================
 */
.color__grayscale-05 {
  color: var(--grayscale-05) !important;
}
.color__grayscale-10 {
  color: var(--grayscale-10) !important;
}
.color__grayscale-20 {
  color: var(--grayscale-20) !important;
}
.color__grayscale-30 {
  color: var(--grayscale-30) !important;
}
.color__grayscale-40 {
  color: var(--grayscale-40) !important;
}
.color__grayscale-50 {
  color: var(--grayscale-50) !important;
}
.color__grayscale-60 {
  color: var(--grayscale-60) !important;
}
.color__grayscale-70 {
  color: var(--grayscale-70) !important;
}
.color__grayscale-80 {
  color: var(--grayscale-80) !important;
}
.color__grayscale-90 {
  color: var(--grayscale-90) !important;
}
/* 
========================================================
              Font color (Error) 
========================================================
 */
.color__error-main {
  color: var(--error-main) !important;
}
.color__error-sub {
  color: var(--error-sub) !important;
}
.color__error {
  color: var(--error) !important;
}
/* 
========================================================
              Font color (White) 
========================================================
 */

.color__white-05 {
  color: var(--palette-white-05) !important;
}
.color__white-10 {
  color: var(--palette-white-10) !important;
}
.color__white-20 {
  color: var(--palette-white-20) !important;
}
.color__white-30 {
  color: var(--palette-white-30) !important;
}
.color__white-40 {
  color: var(--palette-white-40) !important;
}
.color__white-50 {
  color: var(--palette-white-50) !important;
}
.color__white-60 {
  color: var(--palette-white-60) !important;
}
.color__white-70 {
  color: var(--palette-white-70) !important;
}
.color__white-80 {
  color: var(--palette-white-80) !important;
}
.color__white-90 {
  color: var(--palette-white-90) !important;
}
/* 
========================================================
              Font color (Black) 
========================================================
 */
.color__black-05 {
  color: var(--palette-black-05) !important;
}
.color__black-10 {
  color: var(--palette-black-10) !important;
}
.color__black-20 {
  color: var(--palette-black-20) !important;
}
.color__black-30 {
  color: var(--palette-black-30) !important;
}
.color__black-40 {
  color: var(--palette-black-40) !important;
}
.color__black-50 {
  color: var(--palette-black-50) !important;
}
.color__black-60 {
  color: var(--palette-black-60) !important;
}
.color__black-70 {
  color: var(--palette-black-70) !important;
}
.color__black-80 {
  color: var(--palette-black-80) !important;
}
.color__black-90 {
  color: var(--palette-black-90) !important;
}
/*  */
.color__black-99 {
  color: rgba(0, 0, 0, 0.99) !important;
}

.color__black-65 {
  color: rgba(0, 0, 0, 0.65) !important;
}

.color__black-85 {
  color: rgba(0, 0, 0, 0.85) !important;
}

.color__black-35 {
  color: rgba(0, 0, 0, 0.35) !important;
}
