/* 
========================================================
   
                 Tab Style Guide
                 - Default button style (btn__base)
                 - Rounded button style (btn__round)

========================================================
 */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: var(--text);
}

.btn.border {
  border: 1px solid #e0e0e0;
}

/* 
========================================================
                Button Size Style
                - xs, sm, md, lg, xl
========================================================
 */

.btn.xs {
  padding: 4px 8px;
  font-size: 12px;
  height: 24px;
  min-width: 48px;
}

/* .btn.sm {
  padding: 6px 12px;
  font-size: 13px;
  height: 32px;
  min-width: 64px;
} */

.btn.sm {
  width: fit-content; /**/
  padding: 18px 12px;
  font-size: 13px;
  height: 32px;
  min-width: 64px;
}

/* .btn.md {
  padding: 8px 16px;
  font-size: 14px;
  height: 40px;
  min-width: 80px;
} */

.btn.md {
  width: fit-content; /**/
  padding: 18px;
  font-size: 14px;
  height: 40px;
  min-width: 80px;
}

/* .btn.lg {
  padding: 10px 20px;
  font-size: 16px;
  height: 48px;
  min-width: 96px;
} */

.btn.lg {
  width: 96px; /**/
  padding: 18px 24px;
  font-size: 16px;
  height: 48px;
  min-width: 96px;
}

.btn.xl {
  padding: 12px 24px;
  font-size: 18px;
  height: 56px;
  min-width: 120px;
}
/* 
========================================================
                Button Color Style
========================================================
 */
.btn.bk {
  background-color: #000;
  color: #fff;
}
.btn.reverse {
  border: 1px solid var(--border);
  background-color: #fff;
  color: #000;
}
.btn.default {
  background-color: #fff;
  color: #000;
}
.btn.primary {
  border: 1px solid var(--border);
  background-color: var(--primary-60);
  color: var(--text-wh);
}

.btn.teal {
  background-color: #00cbba;
  color: #fff;
}

.btn.gray {
  background-color: var(--palette-gray-10);
}

/* 주요 사용 색상 */
.btn.teal:hover:not(:disabled) {
  background-color: #00b0a3;
  color: #fff;
}

.btn.teal:disabled {
  background-color: #f2f2f2;
  color: #c4c4c4;
}

.btn.outlined {
  background-color: white;
  color: #202020;
  border: solid 1px #ccc;
}

.btn.outlined:hover:not(:disabled) {
  background-color: #f5f5f5;
}

.btn.outlined:disabled {
  background-color: white;
  color: #c4c4c4;
  border-color: #e0e0e0;
}

.btn.secondary {
  background-color: transparent;
  color: #00cbba;
  border: 1px solid #00cbba;
}

.btn.secondary:hover:not(:disabled) {
  background-color: #e6faf8;
}

.btn.secondary:disabled {
  background-color: #f5f5f5;
  color: #c4c4c4;
  border: 1px solid #e0e0e0;
}

/* 
========================================================
                Button Shape Style
                - round
========================================================
 */
.btn--base {
}
.btn--round {
  border-radius: 20px;
  padding: 10px 20px;

  background: #ffffff;
  border: 1px solid #e0e0e0;
  color: #000;
}

button .img {
  display: block;
}
button .img_on {
  display: none;
}
button:hover:not(.hover):not(.legend):not(.selected):not(.disabled) .img,
button:active:not(.disabled) .img,
button.selected .img {
  display: none;
}
button:hover:not(.hover):not(.legend):not(.selected):not(.disabled) .img_on,
button:active:not(.disabled) .img_on,
button.selected .img_on {
  display: block;
}
button.disabled .img {
  display: block;
}
button.disabled .img_on {
  display: none;
}

.btn__primary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 2px 12px 0;
  border-radius: 8px;
  font-size: 8px;
  background: #00cbba;
  color: var(--text-wh);
  border-radius: 8px;
}
.btn__primary:hover:not(.disabled),
.btn__primary.hover {
  background: var(--primary-70);
}
.btn__primary.disabled {
  background: var(--grayscale-50);
  color: var(--white-w_20);
}

.btn__secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 2px 12px 0;
  border-radius: 8px;
  font-size: 8px;
  background: var(--alpha-bk-to-whbk-10);
  color: var(--alpha-bk-to-whbk-100);
  border-radius: 8px;
}
.btn__secondary:hover,
.btn__secondary.hover {
  background: var(--alpha-bk-to-whbk-20);
}
.btn__secondary.disabled {
  background: var(--alpha-bk-to-whbk-20);
  color: var(--white-w_20);
}

.btn_xl {
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.0316px;
}
.btn_l {
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.0316px;
}
.btn_s {
  height: 32px;
  font-weight: 700;
  font-size: 14px;
}
.btn_xs {
  height: 28px;
  font-weight: 500;
  font-size: 14px;
  width: auto;
  padding: 8px;
}

.btn_flexible {
  width: auto;
}
.btn_auto {
  min-width: auto !important;
}

.btn_file {
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  width: auto;
  padding: 10px 12px;
  border-radius: 4px;
  white-space: nowrap;
}
.btn_url {
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  width: auto;
  padding: 10px 8px;
  border-radius: 8px;
  white-space: nowrap;
}

.btn__line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 2px 12px 0;
  border-radius: 8px;
  font-size: 8px;
  background: var(--palette-gray-100);
  color: var(--text);
  /* border: 1px solid var(--primary-50); */
  border-radius: 8px;
}
.btn__line.pri:hover,
.btn__line.pri.hover {
  background: rgba(0, 78, 162, 0.1);
  border: 1px solid var(--primary-60);
}
.btn__line.pri.disabled {
  background: var(--white-w_12);
  border: 1px solid var(--alpha-bk-to-whbk-10);
  color: var(--white-w_20);
}
.btn__line.sec {
  color: var(--text);
  border: 1px solid var(--grayScale);
}
.btn__line.sec:hover,
.btn__line.sec.hover {
  background: var(--white-w_16);
  border: 1px solid var(--secondary);
}
.btn__line.sec.disabled {
  background: var(--white-w_12);
  border: 1px solid var(--alpha-bk-to-whbk-10);
  color: var(--white-w_20);
}
.btn__line.plus {
  background: var(--PRI_plus);
  border: 1px solid #004ea2;
  padding: 6px;
  height: 32px;
  color: var(--PRI_light);
}
.btn__line.plus:hover,
.btn__line.plus.hover {
  background: var(--PRI_plus_hover);
}
.btn__line.plus.text {
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 700;
}
.btn__line.gray {
  color: var(--text);
  /* border: 1px solid var(--grayscale-50); */
}
.btn__line.gray:hover {
  font-weight: 700;
  /* border: 1px solid var(--grayscale-70); */
}
.btn__text {
  font-size: 14px;
  font-weight: 400;
  color: var(--alpha-bk-to-whbk-87);
}
.btn__text.basic {
  color: rgba(0, 0, 0, 0.6);
}
.btn__text.with {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
  column-gap: 8px;
  color: #000;
}
.btn__text.disabled {
  color: var(--alpha-bk-to-whbk-20);
}
.btn__text:hover:not(.disabled),
.btn__text.hover {
  font-weight: 500;
}
.btn__text.link {
  color: #70a3e0;
}
/* Retry Button */

.button__retry {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.button__retry:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.button__retry:active {
  transform: translateY(0);
}

.button__navigation {
  border-radius: 8px;
  padding: 16px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button__navigation:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.button__navigation-description {
  font-size: 14px;
  color: var(--text-muted);
  line-height: 1.6;
}

.disabled {
  background-color: var(--text-muted) !important;
  color: #fff !important;
}
