/* 
============================

  CSS Guide.
  - base : 기본 카드 (baseCard)
  - mentor : 멘토 카드 (mentorCard)

============================
*/

/* 
========================================================
   
                  Base Card Styles

========================================================
*/

.card__base {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;

  width: 308px;
  height: 292px;

  /* background: #ffffff; */
  border: 1px solid #e0e0e0;
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card__base:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.baseCard.head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.baseCard.body {
  width: 100%;
  height: 159px;
  padding-bottom: 10px;
}

.baseCard.footer {
  width: 100%;
  flex: 1;
}

/* 
========================================================
   
                  Mentor Card Styles

========================================================
*/
.mentorCard-body__top {
  width: 100%;      /* 너비 제한 */
  height: 80px;       /* 최대 높이 제한 (3줄 기준) */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;              /* 최대 3줄 */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-word;
}
.mentorCard-body__bottom {
  display: flex;
  padding-bottom: 10px;
}

.mentorCard-body__top > span {
  cursor: pointer;
  text-decoration: none;
}

.mentorCard-body__top > span:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
/* width: 260px;
height: 159px; */

.mentorCard-content__tag {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 10px; */
}
.content__tag.left {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  /* color: #616161; */
}
.content__tag.right {
  display: flex;
  align-self: flex-end;
}
.mentorCard-img {
  width: 32px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.mentorCard-footer__desc {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: -0.02em;

  color: #616161;
}
.footer__desc.date {
}
.footer__desc.nickname {
  font-weight: 400;
}
