/* 
========================================================
   
                   Form Style
                   - log-in 
                   - sign-up
                  -find-password
========================================================
 */

/* ================== log-in form style =====================  */

.form__auth {
  padding: 20px;
  border-radius: 8px;
  margin: auto;
}
.form__auth > div {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 15px 0px;
}

.form__auth > label {
  display: flex;
  gap: 4px;
  padding: 4px;
  font-size: 14px;
  font-weight: 600;
  color: var(--text);
}

.form__auth input {
  width: 400px;
  height: 48px;
  padding: 10px 12px;

  font-size: 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.form__auth input:focus {
  border-color: var(--primary-70);
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.auth__button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: var(--primary-50);
  border: none;
  border-radius: 10px;
  color: var(--palette-white-05);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.auth__button.cancel {
  background-color: var(--palette-white-30);
  color: var(--text);
}
.auth__button.cancel:hover {
  background-color: var(--palette-white-60);
}
.auth__button:hover {
  background-color: var(--primary-70);
}

.form__auth label:last-of-type {
  margin-bottom: 20px; /* 비밀번호 필드 아래 마진 추가 */
}
.terms span,
.terms a {
  position: relative;
  padding: 0 10px;
  color: var(--grayscale-50);
  font-size: 14px;
}

.terms span:not(:last-child)::after,
.terms a:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  color: var(--grayscale-30); /* 분리선 색상 */
  font-weight: normal; /* 원하는 두께 */
}

/* ================== sign-up form style =====================  */

.form__signUp {
}

.signUp__step3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.signUp__step3 > div {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 10px;
}
.signUp__step3 > div > input {
  width: 15px;
  height: 100%;
}
.signUp__step3 > div > span > p {
  font-size: 14px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: -0.02em;

  color: #212121;
}
.signUp__step3 > div > span {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #757575;
}

/* ================== find-passwordstyle =====================  */
/* fs_16 btn__line btn_xl flex1  */
/* css   */

.find_reset__button {
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.0316px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 2px 12px 0;
  border-radius: 8px;
  font-size: 8px;
  background: transparent;
  color: var(--text);
  border-radius: 8px;
  border: 1px solid var(--border);
  font-size: 16px !important;
  background-color: var(--palette-white-30);
}

.find_reset__button.cancel {
  background-color: var(--palette-white-30);
  color: var(--text);
}
.find_reset__button:hover {
  background-color: var(--palette-white-60);
}

.find__auth__button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: var(--primary-50);
  border: none;
  border-radius: 10px;
  color: var(--palette-white-05);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.find__auth__button.cancel {
  background-color: var(--palette-white-30);
  color: var(--text);
}
.find__auth__button.cancel:hover {
  background-color: var(--palette-white-60);
}
.find__auth__button:hover {
  background-color: var(--primary-70);
}

/*
=======================================
          Responsive Header
=======================================
*/

/* PC: 1024px 이상 */
@media (min-width: 1024px) {
}

/* 태블릿: 768px ~ 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* 휴대폰: 480px ~ 767px */
@media (min-width: 480px) and (max-width: 767px) {
  .form__auth input,
  .auth__button {
    width: 350px;
  }
}

/* 소형 휴대폰: 479px 이하 */
@media (max-width: 479px) {
  .form__auth input,
  .auth__button {
    width: 250px;
  }
}
