.loading__spinner {
  display: inline-block;
  border: 4px solid #fff; /* 기본 색상 */
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
