.popup--mentorDetail {
  padding: 20px;
  width: 784px;
  /* height: 600px; */
  box-sizing: border-box;
}
.popup--mentorDetail__header {
  height: 160px;
  border-bottom: 1px solid var(--border);
}
.popup--mentorDetail__header > .content__tag {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #757575;
}
.popup--mentorDetail__header .tag__img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
}

.popup--mentorDetail__header .tag__title {
  margin-left: 6px;
  font-weight: 700;
}

.popup--mentorDetail__body {
  margin-top: 10px;
  border-bottom: 1px solid var(--border);
  height: 400px;
  overflow-y: scroll;
}
.popup--mentorDetail__footer {
  margin-top: 10px;
  flex: 1;
  display: flex;
}
.mentor-info {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  font-size: 14px;
  color: #333;
}

.mentor-info__item {
  display: flex;
  gap: 8px;
  min-width: 200px; /* 레이아웃 조정을 위한 최소 너비 */
}

.mentor-info__title {
  font-weight: bold;
  white-space: nowrap;
}

.mentor-info__detail {
  font-weight: normal;
}
.popup--mentorDetail__footer .btn__group {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
