/* 검색바 */

.btn-search {
  border-radius: 20px;
  padding: 10px 20px;
  width: 240px;

  background: #ffffff;
  border: 1px solid #e0e0e0;
  color: #000;
}

.btn-search input {
  width: 180px;
  transform: translateY(-2px); /*x 위치 조정*/
}

.btn-search input::placeholder {
  font-size: 14px; 
  color: #b0b0b0;
  letter-spacing: normal;
  opacity: 1;
}

.btn-search button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}