.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 
========================================================
   
                  Search Bar

========================================================
 */
.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid var(--grayScale); /* 테두리 색상 */
  border-radius: 24px; /* 둥근 모서리 */
  overflow: hidden;
  background-color: #fff; /* 검색창 배경색 */
  width: 257px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .search-bar {
    display: none;
  }
}

.search-bar__input {
  outline: none;
  border: none;
  flex: 1;
  padding: 10px;
  font-size: 14px;
  color: #909090;
  justify-self: center;
  height: max-content;
}

.search-bar__button {
  border: none;
  color: #fff; /* 버튼 아이콘 색상 */
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 100%;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}

.search-button:hover {
  background-color: #777; /* 버튼 호버 효과 */
}

.search-button:active {
  background-color: #333; /* 버튼 클릭 효과 */
}
