.section__container {
  margin-top: 20px;
  margin-bottom: 60px;
  padding: 10px;
  box-sizing: border-box;
}

.section__border {
  position: absolute;
  width: 2px;
  z-index: 2;
  height: 100%;
}

.section-container__header {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}
/* flex-row gap_4 m-b-8 */
.section__description-wrap {
  padding: 4px 4px 4px 10px;
}
.section__card-wrap {
  padding: 4px 4px 4px 30px;

  display: flex;
  gap: 8px;
}
@media (max-width: 768px) {
  .section__card-wrap {
    flex-direction: column;
  }
}
