/* 
========================================================
   
                 Textarea Style Guide
                 -Textarea Style for mentor-register

========================================================
 */
.textarea-introduction-wrapper {
  padding-top: 24px;
  padding-bottom: 28px;
  box-sizing: border-box;
  border-top: 1px solid var(--palette-gray-50);
  border-bottom: 1px solid var(--palette-gray-30);
  width: 100%;
  margin-top: 16px;
}
.textarea-introduction {
  width: 100%;
  height: 360px;
  padding: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid var(--palette-gray-30);
}
.textarea-introduction::placeholder {
  color: var(--palette-gray-40);
}
