.check-field-module {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 32px;
}
.check-field-module input {
  appearance: none;
}

.check-field-module label {
  position: relative;
  padding-left: 1.625rem;
  cursor: pointer;
  line-height: 1rem;
  color: var(--white-w_87);
  font-size: 13px;
}

.check-field-module label::after {
  content: "";
  position: absolute;
  border: 0.063rem solid var(--primary-pri_100);
  background: url("/icons/checkbox_unchecked.svg") 0.125rem center no-repeat;
  background-size: 0.625rem auto;
  opacity: 1;
}

.check-field-module input[type="checkbox"]:checked + label::after {
  border: 0.063rem solid var(--primary-pri_100);
  background: url("/icons/checkbox_checked.svg") 0.125rem center no-repeat;
  background-size: 0.625rem auto;
  opacity: 1;
}

.check-field-module input[type="checkbox"]:checked + label {
  color: var(--primary-pri_100);
}

.check-field-module input[type="checkbox"]:disabled + label::after,
.check-field-module .disabled::after {
  border: none;
  background: var(--white-w_20);
}

/* .nemo 스타일 */
.check-field-module.nemo {
  align-self: center;
  color: var(--white-w_100-sec);
}

.check-field-module.nemo input[type="checkbox"]:checked + label::after {
  background: url("/icons/minus_sky_12.svg") center no-repeat !important;
  opacity: 1;
}

.check-field-module.nemo input[type="checkbox"]:checked + label {
  color: var(--white-w_100-sec);
}

/* .tree 스타일 */
.check-field-module.tree {
  align-self: center;
  color: var(--white-w_100-sec);
}

.check-field-module.tree label::after {
  border: 0.063rem solid var(--white-w_100-sec);
  opacity: 0.8;
}

.check-field-module.tree input[type="checkbox"]:checked + label {
  color: var(--white-w_100-sec);
}

/* .circle 스타일 */
.check-field-module.circle label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: white;
  border: 1.5px solid #cecece;
  opacity: 0.6;
}
/* 체크 안된 상태*/
.check-field-module.circle.md.md label::after {
  background: url("/icons/checkbox_unchecked_md_md.svg");
  background-size: 0.5rem auto;
}

.check-field-module.circle.md.lg label::after {
  background: url("/icons/checkbox_unchecked_md_lg.svg");
  background-size: 0.625rem auto;
}
.check-field-module.circle.lg.md label::after {
  background: url("/icons/checkbox_unchecked_lg_md.svg");
  background-size: 0.5rem auto;
}

.check-field-module.circle.lg.lg label::after {
  background: url("/icons/checkbox_unchecked_lg_lg.svg");
  background-size: 0.625rem auto;
}

/* 체크된 상태 <!-- 첫번쨰 opacity 두번쨰 사이즈 -->*/
.check-field-module.circle.md.md input[type="checkbox"]:checked + label::after {
  background: url("/icons/check_md_md.svg") center center no-repeat, url("/icons/checked_md_md.svg") center center no-repeat;
}
.check-field-module.circle.md.lg input[type="checkbox"]:checked + label::after {
  background: url("/icons/check_md_lg.svg") center center no-repeat, url("/icons/checked_md_lg.svg") center center no-repeat;
}
.check-field-module.circle.lg.md input[type="checkbox"]:checked + label::after {
  background: url("/icons/check_lg_md.svg") center center no-repeat, url("/icons/checked_lg_md.svg") center center no-repeat;
}
.check-field-module.circle.lg.lg input[type="checkbox"]:checked + label::after {
  background: url("/icons/check_lg_lg.svg") center center no-repeat, url("/icons/checked_lg_lg.svg") center center no-repeat;
}

.check-field-module.circle input[type="checkbox"]:checked + label {
  color: inherit;
}

/* .td 스타일 */
.check-field-module.td label {
  padding-left: 1.25rem;
}
